{
    "semi": false,
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf"
}
