click==8.1.7
iniconfig==2.0.0
mypy==1.13.0
mypy-extensions==1.0.0
numpy==2.2.0
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.241126
plotly==5.24.1
pluggy==1.5.0
prettytable==3.12.0
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
tenacity==9.0.0
types-pytz==2024.2.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
